{{!-- {{#each this}} --}}
    <p class="country-info__name"><img src="https://restcountries.eu/data/swz.svg" alt="Swaziland"
            class="countrys-list__img"><span class="country-info__name-text">Swaziland</span></p>
    <p class="country-info__description"><span>Capital:</span>Lobamba</p>
    <p class="country-info__description"><span>Population:</span>1132657</p>
    <p class="country-info__description"><span>Languages:</span>English, Swati</p>
{{!-- {{/each}} --}}

