{{#each this}}
    <li class="countrys-list__list-item">
        <img src="{{flag}}" alt="Swaziland" class="countrys-list__img">
        <p class="countrys-list__name">{{name}}</p>
    </li>
{{/each}}


